

.aboutus{
   padding:5rem;
  position: relative;
  height: 80vh;
  width:100%;
  background: rgb(130,48,11);
background: linear-gradient(110deg, rgba(130,48,11,0.8886905103838411) 15%, rgba(74,18,167,1) 47%, rgba(9,9,236,1) 72%, rgba(8,3,62,1) 93%);
clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 93%);
top:-5.5rem;
  .text-area{
   position:absolute;
   top:20%;
   left:5%;
   width: 40%;
   color:rgb(243, 237, 198)


  }

   p{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 2rem 0rem;
    text-align: left;

   }
   h1{
    font-size:4rem;
    font-weight: 600;
    position: absolute;
    top:10%;
    left:5%;
    color:rgb(87, 200, 53)
   }
    .text-animate1{
        display: inline-block;
        animation:bounceIn 2s 7s;
        animation-fill-mode: forwards;
        transition: all .3s;
        min-width: 10px;
         
     
       }
    
       @for $i from 24 through 33{
        ._#{$i}{
            animation-delay: #{($i/10)-2.3}s;
        }
       }
}

.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 15%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
//   .loader{
//     height: 50px;
//     width: 50px;
//     margin:auto;
//     position: absolute;
//     animation: fadeOut 1s 1s forwards;
//     top:0;
//     left:0;
//     right:0;
//     bottom:0;
    
// }

